session
chromedriver
accts.json
.vscode/launch.json
.vscode/settings.json
split_response.xml
.idea/.gitignore
.idea/mintSplitter.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/inspectionProfiles/profiles_settings.xml
requestHeaders.json
txns.json
__pycache__/splitter.cpython-39.pyc
__pycache__/cli_handler.cpython-39.pyc
settings.json
.vscode/extensions.json
src/__pycache__
src/main.py
chromedriver.exe
